<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue</title>
</head>

<body>
    <div class="wrapper">
        <div class="lessonOne">
            <h1>{{message}}</h1>
            <form>
                <app-form :add="addTask" :value="newTitle" @input="newTitle = $event"> </app-form>
            </form>
            <app-btn-statistic :compl="completedTasks" :id="allTasks" :comptask="completeTasklist"></app-btn-statistic>
            <br>
            <template v-for="i in radioTask">
                <input type="radio" class="btn-check" name="options" :id="i.id" @change="radioState = i.change"
                    :checked="i.check">
                <label :for="i.id" :class="i.classes" style="margin-right: 5px;"> {{i.title}}</label>
            </template>
            <br><br>
            <input v-model="searchTitle">
            <br><br>
            <h2 ref="addText">{{titleAdd }}</h2>
            <ul class="list-group">
                <app-list v-for="(i, index) in todoList" :id="index" :text="i.text" @click="i.done=!i.done"
                    :btntext="i.done === true ? 'completed' : 'in order'"
                    :color="i.done === true ? 'btn btn-success' : 'btn btn-secondary'"></app-list>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component("app-form", {
            props: {
                value: String,
                add: Function
            },
            methods: {},
            template: `<div class="input-group mb-3"> 
                         <input type="text" class="form-control" placeholder="Add new Task" :value="value" @input="$emit('input', $event.target.value)" >
                            <div class="input-group-append">
                              <button :disabled="value.length === 0 || !value.trim()"  class="btn btn-outline-secondary"  @click="add()">Add</button> 
                            </div> 
                      </div>`

        })
        Vue.component("app-btn-statistic", {
            props: {
                compl: Number,
                id: Number,
                comptask: String
            },
            methods: {},
            template: '<div> <button class="btn btn-primary"> Сompleted tasks {{compl}}</button> <button class="btn btn-primary"> All tasks {{id}}</button> <button class="btn btn-primary"> Precent complete tasklist {{comptask}}</button> </div>'

        })
        Vue.component("app-list", {
            // props:['text','id','color','btntext','done'],
            props: {
                text: String,
                id: Number,
                color: String,
                btntext: String,
                done: Boolean
            },
            methods: {},
            template: `<li  class="list-group-item">  
                        <button :class="color" @click="$emit('click', done)">{{btntext}}</button> {{text}}
                       </li> `
        })
        new Vue({
            el: '.lessonOne',
            data: {
                message: 'Hello from Vue App',
                todoItems: [],
                radioTask: [
                    { id: "option1", change: "", classes: "btn btn-outline-warning", check: true, title: "Все задачи" },
                    { id: "option2", change: "completed", classes: "btn btn-outline-success", check: false, title: "Выполненные задачи" },
                    { id: "option3", change: "uncompleted", classes: "btn btn-outline-secondary", check: false, title: "Невыполненные задачи" }],
                newTitle: '',
                searchTitle: '',
                count: 0,
                radioState: "",
                titleAdd: 'Please add new task',

            },
            computed: {
                allTasks() {
                    return this.todoItems.length;
                },
                completedTasks() {
                    this.count = 0
                    for (i in this.todoItems) {
                        if (this.todoItems[i].done === true) {
                            this.count++
                        }
                    }
                    return this.count
                },
                completeTasklist() {
                    return this.allTasks === 0 ? '0 %' : (this.count / (this.allTasks) * 100).toFixed(2) + '%'
                },
                todoList() {
                    var vm = this
                    let sortList = this.todoItems.filter(function (i) {
                        return i.text.toLowerCase().indexOf(vm.searchTitle.toLowerCase()) !== -1
                    })
                    if (this.radioState === "completed") {
                        return sortList.filter(function (i) { return i.done })
                    } else if (this.radioState === "uncompleted") {
                        return sortList.filter(function (i) { return !i.done })
                    } else {
                        return sortList
                    }
                }
            },
            methods: {
                addTask() {
                    this.todoItems.push({
                        id: this.allTasks + 1,
                        text: this.newTitle,
                        done: false
                    })
                    this.$refs.addText.setAttribute('style', 'display:none')
                    // console.log(this.newTitle)
                    // console.log(this.todoItems)
                    // console.log(this.todoList)
                    this.newTitle = ''
                }
            }
        })
    </script>
</body>

</html>