<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Vue</title>
</head>

<body>
    <div class="wrapper">
        <div class="lessonOne">
            <h1>{{message}}</h1>
            <form>
                <app-form :add="addTask" :value="newTitle" @input="newTitle = $event"> </app-form>
            </form>
            <app-btn-statistic :compl="completedTasks" :id="nextId" :comptask="completeTasklist"></app-btn-statistic>
            <br>
            <input type="radio" class="btn-check" name="options" id="option2" @change="switches('all')" checked>
            <label class="btn btn-outline-warning" for="option2">Все задачи</label>
            
            <input type="radio" class="btn-check" name="options" id="option3" @change="switches('completed')" >
            <label class="btn btn-outline-success" for="option3">Выполненные задачи</label>
            
            <input type="radio" class="btn-check" name="options" id="option4" @change="switches()" >
            <label class="btn btn-outline-secondary" for="option4">Невыполненные задачи</label>
<br><br>
            <input v-model="searchTitle">
            <br><br>
            <ul class="list-group" id="list1" style="display:block">
                <app-list   v-for="(i, index) in todoList"    :id="index" :text="i.text" :btntext="btnText(index)" :color="btnColor(index)"></app-list>
            </ul>
            <ul class="list-group" id="list2" style="display:none">
                <app-list   v-show="i.done===true"  v-for="(i, index) in todoList"    :id="index" :text="i.text" :btntext="btnText(index)" :color="btnColor(index)"></app-list>
            </ul>
            <ul class="list-group" id="list3" style="display:none">
                <app-list    v-show="i.done===false"  v-for="(i, index) in todoList"   :id="index" :text="i.text" :btntext="btnText(index)" :color="btnColor(index)"></app-list>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component("app-form", {
            props: {
                value: String,
                add: Function
            },
            methods: {},
            template: `<div class="input-group mb-3"> 
                         <input type="text" class="form-control" placeholder="Add new Task" :value="value" @input="$emit('input', $event.target.value)" >
                            <div class="input-group-append">
                              <button :disabled="value.length === 0 || !value.trim()" class="btn btn-outline-secondary"  @click="add()">Add</button> 
                            </div> 
                      </div>`

        })
        Vue.component("app-btn-statistic", {
            props: {
                compl: Number,
                id: Number,
                comptask: String
            },
            methods: {},
            template: '<div> <button class="btn btn-primary"> Сompleted tasks {{compl}}</button> <button class="btn btn-primary"> all tasks {{id - 1}}</button> <button class="btn btn-primary"> Precent complete tasklist {{comptask}}</button> </div>'

        })
        Vue.component("app-list", {
            // props:['text','id','color','btntext'],
            props: {
                text: String,
                id: Number,
                color: String,
                btntext: String,
                done: Boolean
            },
            methods: {},
            template: `<li  class="list-group-item">  
                        <button :class="color">{{btntext}}</button> {{text}}
                       </li> `
        })
        new Vue({
            el: '.lessonOne',
            data: {
                message: 'Hello from Vue App',
                todoItems: [
                    { id: 1, text: 'task 1', done: false },
                    { id: 2, text: 'task 2', done: false },
                    { id: 3, text: 'task 3', done: true },
                    { id: 4, text: 'task 4', done: false },
                    { id: 5, text: 'task 5', done: false }
                ],
                nextId: 6,
                newTitle: '',
                searchTitle: '',
                count: 0,
                state:''
            },
            computed: {
                completedTasks() {
                    this.count = 0
                    for (i in this.todoItems) {
                        if (this.todoItems[i].done === true) {
                            this.count++
                        }
                    }
                    return this.count
                },
                completeTasklist() {
                    return (this.count / (this.nextId - 1) * 100).toFixed(2) + '%'
                },
                todoList() {
                    var vm = this
                    return this.todoItems.filter(function (i) {
                        return i.text.toLowerCase().indexOf(vm.searchTitle.toLowerCase()) !== -1
                    })
                }
            },
            methods: {
                btnText(id) {
                    return this.todoList[id].done === true ? 'completed' : 'in order'
                },
                btnColor(id) {
                    return this.todoList[id].done === true ? 'btn btn-success' : 'btn btn-secondary'
                },
                addTask() {
                    this.todoItems.push({
                        id: this.nextId++,
                        text: this.newTitle,
                        done: false
                    })
                    // console.log(this.newTitle)
                    // console.log(this.todoItems)
                    // console.log(this.todoList)
                    this.newTitle = ''
                },
                switches(state){
                    let all = document.querySelector('#list1');
                    let completed = document.querySelector('#list2');
                    let order = document.querySelector('#list3');

                    if(state ==='all'){
                    all.setAttribute('style','display:block')
                    completed.setAttribute('style','display:none')
                    order.setAttribute('style','display:none')
                    }
                    else if(state === 'completed'){
                        all.setAttribute('style','display:none')
                        completed.setAttribute('style','display:block')
                        order.setAttribute('style','display:none')
                    }
                    else{
                        all.setAttribute('style','display:none')
                        completed.setAttribute('style','display:none')
                        order.setAttribute('style','display:block')
                    }
                }
        }
        })
    </script>
</body>

</html>